<div class="dashboard-workspace">

    <!-- Lançamentos Financeiros -->
    {% include "models/lancamentos.html" %}

    <!-- Animais -->
    {% include "models/animais.html" %}

    <!-- Rebanhos -->
    {% include "models/rebanhos.html" %}

    <!-- Pastagens -->
    {% include "models/pastagens.html" %}

    <!-- Movimentações -->
    {% include "models/movimentacoes.html" %}

    <!-- Gestão Integrada -->
    {% include "models/gestao_integrada.html" %}

    <!-- Usuários -->
    {% include "models/usuarios.html" %}

</div>
