<div class="section-tabs">
    <div class="tab active" data-tab="lancamentos">Lançamentos Financeiros</div>
    <div class="tab" data-tab="animais">Animais</div>
    <div class="tab" data-tab="rebanhos">Rebanhos</div>
    <div class="tab" data-tab="pastagens">Pastagens</div>
    <div class="tab" data-tab="movimentacoes">Movimentações</div>
    <div class="tab" data-tab="usuarios">Usuários</div>
</div>

<div class="content-area">
    <!-- Lançamentos Financeiros -->
    {% include "models/lancamentos.html" %}
    
    <!-- Animais -->
    {% include "models/animais.html" %}
    
    <!-- Rebanhos -->
    {% include "models/rebanhos.html" %}
    
    <!-- Pastagens -->
    {% include "models/pastagens.html" %}
    
    <!-- Movimentações -->
    {% include "models/movimentacoes.html" %}
    
    <!-- Usuários -->
    {% include "models/usuarios.html" %}
</div>